.input {
    width: 100%;
    background-color: $secondary;
    background-image: url(../assets/images/bg-shorten-mobile.svg);
    background-position: right top;
    background-repeat: no-repeat;
    padding: 1.5rem;
    border-radius: $border-radius;
    position: relative;
    top: -60px;

    &__input {
        width: 100%;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        border-radius: $border-radius;
        border: none;

        &--error {   
            border: 3px solid $warning;

            &::placeholder {
                color: rgba($warning, .7);    
            }
        }
    }

    &__error {
        position: absolute;
        top: 75px;
        left: 1.5rem;
        font-size: 0.8rem;
        font-style: italic;
        color: $warning;

    }

    &__button {
        margin-top: 40px;
        width: 100%;
        font-size: 1.1rem;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__loading {
        width: 30px;
        animation: rotate .45s linear infinite;
        margin-right: 20px;
    }
    @keyframes rotate {
        from {
            transform:rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@include w700 {
    .input {
        background-image: url(../assets/images/bg-shorten-desktop.svg);
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem;

        &__input {
            flex-grow: 1;
        }

        &__error {
            top: 95px;
            left: 2.5rem;
        }

        &__button {
            margin: 0 0 0 20px;
            font-size: 1rem;
            width: 35%;
        }
    }
}