$text-color: hsl(257, 7%, 63%);
$light-bg: #eff1f7;
$heading-color: hsl(255, 11%, 22%);
$footer-bg: hsl(260, 8%, 14%);

$warning: hsl(0, 87%, 67%);

$primary: hsl(180, 66%, 49%);
$secondary: hsl(257, 27%, 26%);
$white: #ffffff;