*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  border: none;
}

body {
  color: #9e9aa7;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.hero-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.content-width {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  margin-top: 150px;
  background-color: #eff1f7;
}

.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__hamburger:hover {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger-line {
  width: 100%;
  height: 4px;
  background-color: #9e9aa7;
}
.header__mobile {
  position: absolute;
  top: -100%;
  width: 85%;
  padding: 50px 25px;
  background-color: #3b3054;
  border-radius: 10px;
  transition: top 0.7s;
}
.header__mobile--show {
  top: 120px;
}
@media screen and (min-width: 1024px) {
  .header__mobile {
    position: static;
    width: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
}
.header__li {
  text-align: center;
  padding: 1rem;
}
.header__li:first-child {
  padding-top: 0;
}
.header__li:last-child {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(158, 154, 167, 0.4);
}
.header__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}
.header__link:hover {
  color: #35323e;
}
@media screen and (min-width: 1024px) {
  .header__ul {
    display: flex;
  }
  .header__li {
    padding: 0;
  }
  .header__li:last-child {
    border: none;
    padding: 0;
  }
  .header__li:first-child {
    margin-left: 40px;
  }
  .header__link {
    color: #9e9aa7;
    font-size: 1rem;
    margin-left: 20px;
  }
}
.header__login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__login-btn, .header__signup-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 0.7rem 0;
  margin-top: 20px;
}
.header__login-btn:hover, .header__signup-btn:hover {
  cursor: pointer;
}
.header__signup-btn {
  background-color: #2acfcf;
  width: 85%;
  border-radius: 50px;
}
.header__signup-btn:hover {
  background-color: #7ce4e4;
}
@media screen and (min-width: 1024px) {
  .header__login-container {
    flex-direction: row;
  }
  .header__login-btn, .header__signup-btn {
    font-size: 1rem;
    color: #9e9aa7;
    margin: 0 40px 0 0;
  }
  .header__signup-btn {
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    margin: 0;
  }
}

.hero {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.hero__text-container {
  order: 2;
  text-align: center;
}
.hero__header1 {
  color: #35323e;
  line-height: 2.5rem;
  margin-top: 50px;
}
.hero__text {
  margin-top: 15px;
}
.hero__button {
  margin-top: 30px;
  padding: 0.7rem 1.7rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 50px;
  background-color: #2acfcf;
  color: #ffffff;
}
.hero__img {
  width: 150%;
}
@media screen and (min-width: 700px) {
  .hero__img {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero__text-container {
    min-width: 500px;
    text-align: left;
  }
  .hero__header1 {
    margin: 0;
    font-size: 4rem;
    line-height: 4.5rem;
  }
  .hero__text {
    max-width: 400px;
  }
  .hero__img {
    order: 2;
    width: 80%;
  }
}
.input {
  width: 100%;
  background-color: #3b3054;
  background-image: url(../assets/images/bg-shorten-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  top: -60px;
}
.input__input {
  width: 100%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}
.input__input--error {
  border: 3px solid #f46262;
}
.input__input--error::placeholder {
  color: rgba(244, 98, 98, 0.7);
}
.input__error {
  position: absolute;
  top: 75px;
  font-size: 0.8rem;
  font-style: italic;
  color: #f46262;
}
.input__button {
  margin-top: 40px;
  padding: 0.7rem 2rem;
  width: 100%;
  background-color: #2acfcf;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .input {
    background-image: url(../assets/images/bg-shorten-desktop.svg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
  }
  .input__input {
    flex-grow: 1;
  }
  .input__error {
    top: 95px;
  }
  .input__button {
    margin: 0 0 0 20px;
    font-size: 1rem;
    width: 35%;
  }
}
.links__link-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 20px;
}
.links__input {
  color: #35323e;
  border-bottom: 1px solid #9e9aa7;
  padding: 1rem;
  font-size: 0.9rem;
}
.links__output {
  padding: 1rem;
  color: #2acfcf;
  font-size: 0.9rem;
}
.links__button {
  background-color: #2acfcf;
  color: #ffffff;
  font-weight: 700;
  padding: 0.6rem 2rem;
  width: 90%;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
.links__button--copied {
  background-color: #3b3054;
}
@media screen and (min-width: 700px) {
  .links__link-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .links__input {
    border-bottom: none;
    padding: 0;
    flex-grow: 1;
  }
  .links__output {
    padding: 0;
    margin-right: 20px;
  }
  .links__button {
    margin: 0;
    width: 125px;
  }
}

.stats {
  text-align: center;
  font-size: 0.93rem;
  position: relative;
  padding: 80px 0;
}
.stats__bg-line {
  width: 8px;
  height: 50%;
  background-color: #2acfcf;
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin: auto;
}
.stats__title {
  color: #35323e;
}
.stats__text {
  margin: 20px auto 0 auto;
  max-width: 470px;
}
.stats__cards {
  margin-top: 50px;
}
.stats__card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 70px 30px 30px 30px;
  position: relative;
  margin-top: 100px;
}
.stats__icon {
  width: 80px;
  height: 80px;
  background-color: #3b3054;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.stats__card-title {
  color: #35323e;
}
.stats__card-text {
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .stats {
    font-size: 1rem;
  }
  .stats__bg-line {
    transform: rotate(90deg);
    height: 80%;
    top: 160px;
  }
  .stats__cards {
    margin-top: 80px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
  }
  .stats__card {
    width: 32%;
    margin-top: 0;
  }
  .stats__card:first-child {
    align-self: flex-start;
  }
  .stats__card:last-child {
    align-self: flex-end;
  }
  .stats__icon {
    margin: 0;
    left: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
