.footer-bg {
    background-color: $footer-bg;
    color: $white;
}

.footer {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {

        path {
            fill: $white;            
        }

    }

    &__icons {
        margin-top: 50px;
    }

    &__icon {
        margin: 0 8px;

        path {
            transition: fill .3s;           
        }

        &:hover {
            cursor: pointer;
            
            path {
                fill: $primary;
            }
        }
    }
}

@include w1024 {
    .footer {
        text-align: left;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        &__logo {
            flex-grow: 1;
        }

        &__icons {
            margin-top: 0;
        }
    }
}

.features,
.resources,
.company {
    margin-top: 40px;

    &__title {
        font-size: 1rem;
    }

    &__nav {
        margin-top: 15px;
    }

    &__li {
        padding: 5px 0;
    }

    &__link {
        color: $text-color;
        transition: color .3s;

        &:hover {
            color: $primary;
        }
    }
}

@include w1024 {
    .features,
    .resources,
    .company {
        margin: 0 8% 0 0;
    }
}